<div class="portfolio">
  <div class="container">
    <div class="top d-flex justify-content-between align-items-center">
      <p>mohammedadel</p>
      <div class="socialIcons d-flex justify-content-around gap-4">
        <a href="https://github.com/mohammedAdelAv">
          <img src="assets/images/icon-github.svg" alt="Github icon" class="icon" />
        </a>
        <a href="">
          <img src="assets/images/icon-linkedin.svg" alt="linkedin icon" class="icon" />
        </a>
        <a href="https://www.frontendmentor.io/profile/mohammedAdelAv">
          <img
            src="assets/images/icon-frontend-mentor.svg"
            alt="Frontend mentor icon"
            class="icon"
          />
        </a>
      </div>
    </div>
    <div class="content mt-5">

      <img class="rings" src="assets/images/pattern-rings.svg" alt="ringsImage" />
      <img class="personalImage" src="assets/images/personal.png" alt="personalImage" />
      <img class="circle" src="assets/images/pattern-circle.svg" alt="circle" />
      <h1>
        Nice to meet you! <br />
        I’m <span class="break">Mohammed Adel.</span>
      </h1>
      <p class="mt-3">
        Based in the EGYPT, I’m a front-end developer <br />
        passionate about building accessible web apps <br />that users love.
      </p>
      <a href="#contact" class="btn mt-5">CONTACT ME</a>
    </div>
    <hr class="hr" />
    <div class="expertise">
      <div class="container text-center">
        <div class="row row-cols-3">
          <div class="col mb-5 text-start">
            HTML
            <p class="p">1 Year Experience</p>
          </div>
          <div class="col text-start">
            CSS
            <p class="p">1 Year Experience</p>
          </div>
          <div class="col text-start">
            Bootstrap
            <p class="p">1 Year Experience</p>
          </div>
          <div class="col text-start">
            Angular
            <p class="p">1 Year Experience</p>
          </div>
          <div class="col text-start">
            TypeScript
            <p class="p">1 Year Experience</p>
          </div>
        </div>
        <img class="rings" src="assets/images/pattern-rings.svg" alt="ringsImage" />
      </div>
    </div>
    <div class="projects">
      <div class="d-flex justify-content-between mb-5">
        <h2>Projects</h2>
        <a href="#contact" class="btn">CONTACT ME</a>
      </div>

      <div class="grid text-center">
        @if (projectsData.length > 0) {
          @for (project of projectsData; track project.id; let i = $index) {
            <div class="g-col-6">
              <div class="imageWrapper">
                <img class="imgFluid" [src]="project.Image" alt="Project Image" />
                <div class="overlay">
                  <a [href]="project.RepositoryURL" target="_blank" class="overlayLink">
                    VIEW CODE
                  </a>
                  <a
                    *ngIf="project.LiveSiteURL"
                    [href]="project.LiveSiteURL"
                    target="_blank"
                    class="overlayLink"
                  >
                    VIEW PROJECT
                  </a>
                </div>
              </div>
              <p class="projectName text-start mt-3">{{ project.projectName }}</p>
              <p class="tools text-start">{{ project.tools }}</p>
            </div>
          }
        }
      </div>
    </div>
  </div>
  <footer class="footerBg" id="contact">
    <div class="container">
      <form [formGroup]="massageForm">
        <div class="row footer">
          <div class="leftSide col-lg-6 col-12">
            <h3>Contact</h3>
            <p>
              I would love to hear about your project and how I <br />
              could help. Please fill in the form, and I’ll get back <br />
              to you as soon as possible.
            </p>
          </div>

          <div class="rightSide col-lg-6 col-12">
            <label for="NAME">NAME</label>
            <input
              type="text"
              name="NAME"
              id="NAME"
              formControlName="name"
              [ngClass]="{
                'border-valid': controls['name'].valid,
                'border-invalid': controls['name'].touched && controls['name'].invalid,
              }"
            />
            @if (controls['name'].touched && controls['name'].invalid) {
              <div class="alert">
                <div *ngIf="controls['name'].errors?.['required']">Name is required.</div>
              </div>
            }
            <label for="EMAIL">EMAIL</label>
            <input
              class="email"
              type="email"
              name="EMAIL"
              id="EMAIL"
              formControlName="email"
              [ngClass]="{
                'border-valid': controls['email'].valid,
                'border-invalid': controls['email'].touched && controls['email'].invalid,
              }"
            />

            @if (controls['email'].touched && controls['email'].invalid) {
              <div class="alert">
                <div *ngIf="controls['email'].errors?.['required']">Email is required.</div>
                <div *ngIf="controls['email'].errors?.['email']">
                  Please enter a valid email address.
                  <span
                    class="invalidImg"
                    *ngIf="controls['email'].touched && controls['email'].invalid"
                  >
                    <img src="assets/images/Group 25.svg" alt="icon error" />
                  </span>
                </div>
              </div>
            }

            <label for="MESSAGE">MESSAGE</label>
            <input
              type="text"
              name="MESSAGE"
              id="MESSAGE"
              formControlName="message"
              [ngClass]="{
                'border-valid': controls['message'].valid,
                'border-invalid': controls['message'].touched && controls['message'].invalid,
              }"
            />
            @if (controls['message'].touched && controls['message'].invalid) {
              <div class="alert">
                <div *ngIf="controls['message'].errors?.['required']">Message is required.</div>
                <div *ngIf="controls['message'].errors?.['minlength']">
                  Message must be at least 10 characters long.
                </div>
              </div>
            }
          </div>
          <div class="text-end">
            <button
              type="submit"
              class="btn"
              (click)="submit(massageForm)"
              [disabled]="massageForm.invalid"
            >
              SEND MESSAGE
            </button>
          </div>
          <hr class="hr1" />
          <div class="down d-flex justify-content-between align-items-center mt-2 mb-4">
            <p>mohammedadel</p>
            <div class="socialIcon d-flex justify-content-around gap-4">
              <a href="https://github.com/mohammedAdelAv">
                <img src="assets/images/icon-github.svg" alt="Github icon" />
              </a>
              <a href="">
                <img src="assets/images/icon-linkedin.svg" alt="linkedin icon" />
              </a>
              <a href="https://www.frontendmentor.io/profile/mohammedAdelAv">
                <img src="assets/images/icon-frontend-mentor.svg" alt="Frontend mentor icon" />
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </footer>
</div>
