/* top */

.portfolio .container .top {
  margin: 30px 0px 120px 0px;
}

.portfolio .container .top p {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: bold;
  margin: auto 0;
}

.portfolio .container .top .socialIcons .icon:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(25%) saturate(5196%) hue-rotate(73deg)
    brightness(95%) contrast(85%);
}

.portfolio .container .top .socialIcons img {
  width: 24px;
  height: 24px;
}

/* top */

/* content */

.portfolio .container .content {
  position: relative;
}

.portfolio .container .content .rings {
  position: absolute;
  width: 33rem;
  height: 8rem;
  top: -70px;
  left: -260px;
  overflow: hidden;
}

.portfolio .container .content .personalImage {
  position: absolute;
  display: block;
  width: 500px;
  height: 700px;
  top: -100px;
  right: 0;
  z-index: -2;
}

.portfolio .container .content .circle {
  position: absolute;
  width: 129px;
  height: 129px;
  right: 450px;
  bottom: -120px;
}

.portfolio .container .content h1 {
  color: var(--color-white);
  font-size: var(--heading-xl-size);
  line-height: var(--heading-xl-line);
  letter-spacing: var(--heading-xl-spacing);
  font-weight: var(--heading-xl-weight);
}

.portfolio .container .content h1 .break {
  text-decoration-line: underline;
  text-decoration-color: var(--color-green-primary);
  text-underline-offset: 10px;
}

.portfolio .container .content p {
  color: var(--color-white);
  font-size: var(--body-size);
  line-height: var(--body-line);
  font-weight: var(--body-weight);
}

.portfolio .container .content .btn {
  text-decoration: none;
  color: var(--color-white);
  font-size: 16px;
  line-height: var(--body-line);
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-color: var(--color-green-primary);
  text-underline-offset: 10px;
  background: transparent;
  border: none;
  padding: 0;
}

.portfolio .container .content .btn:hover {
  color: var(--color-green-primary);
}

/* end content */

/* hr */
.portfolio .container .hr {
  border: 0;
  height: 2px;
  background-color: var(--color-white);
  margin-top: 400px;
  margin-bottom: 40px;
}

/* expertise */

.portfolio .container .expertise {
  position: relative;
  margin-bottom: 120px;
}

.portfolio .container .expertise .container .row .col {
  color: var(--color-white);
  font-size: var(--heading-l-size);
  line-height: var(--heading-l-line);
  letter-spacing: var(--heading-l-spacing);
  font-weight: var(--heading-l-weight);
}

.portfolio .container .expertise .container .row .p {
  color: var(--color-white);
  font-size: var(--body-size);
  line-height: var(--body-line);
  font-weight: var(--body-weight);
  margin-top: 10px;
}

.portfolio .container .expertise .rings {
  position: absolute;
  width: 33rem;
  height: 8rem;
  bottom: 10px;
  right: -380px;
  overflow-x: hidden;
}

/* end expertise */

/* project */

.portfolio .container .projects {
  margin-bottom: 200px;
}

.portfolio .container .projects h2 {
  color: var(--color-white);
  font-size: var(--heading-xl-size);
  line-height: var(--heading-xl-line);
  letter-spacing: var(--heading-xl-spacing);
  font-weight: var(--heading-xl-weight);
}

.portfolio .container .projects .btn {
  text-decoration: none;
  color: var(--color-white);
  font-size: 16px;
  line-height: var(--body-line);
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-color: var(--color-green-primary);
  text-underline-offset: 10px;
  background: transparent;
  border: none;
  padding: 0;
  margin: auto 0;
}

.portfolio .container .projects .btn:hover {
  color: var(--color-green-primary);
}

.portfolio .container .projects .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.portfolio .container .projects .grid .imageWrapper {
  position: relative;
}

.portfolio .container .projects .grid .imageWrapper .imgFluid {
  width: 40rem;
  height: 30rem;
}

.portfolio .container .projects .grid .imageWrapper .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio .container .projects .grid .imageWrapper:hover .overlay {
  opacity: 1;
}

.portfolio .container .projects .grid .imageWrapper .overlayLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid var(--color-green-primary);
  padding-bottom: 4px;
}

.portfolio .container .projects .grid .imageWrapper .overlayLink:hover {
  color: var(--color-green-primary);
}

.portfolio .container .projects .grid .projectName {
  color: var(--color-white);
  font-size: var(--heading-m-size);
  line-height: var(--heading-m-line);
  letter-spacing: var(--heading-m-spacing);
  font-weight: var(--heading-m-weight);
}

.portfolio .container .projects .grid .tools {
  color: var(--color-white);
  font-size: var(--body-size);
  line-height: var(--body-line);
  font-weight: var(--body-weight);
}

/* end project */

/* footer */

.portfolio .footerBg {
  background-color: var(--color-black-800);
  width: 100%;
}

.portfolio .container .footer {
  padding: 50px 0;
  position: relative;
}

.portfolio .container .footer::before {
  position: absolute;
  content: '';
  width: 33rem;
  height: 8rem;
  background-image: url('../../../../public/assets/images/pattern-rings.svg');
  background-repeat: no-repeat;
  display: block;
  top: 300px;
  left: -350px;
  overflow: hidden;
}

.portfolio .container .footer .leftSide h3 {
  color: var(--color-white);
  font-size: var(--heading-xl-size);
  line-height: var(--heading-xl-line);
  letter-spacing: var(--heading-xl-spacing);
  font-weight: var(--heading-xl-weight);
}

.portfolio .container .footer .leftSide p {
  color: var(--color-white);
  font-size: var(--body-size);
  line-height: var(--body-line);
  font-weight: var(--body-weight);
  margin-top: 40px;
}

.portfolio .container .footer .rightSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.portfolio .container .footer .rightSide label {
  color: var(--color-white);
  font-size: var(--body-size);
  line-height: var(--body-line);
  font-weight: var(--body-weight);
}

.portfolio .container .footer .rightSide input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-white);
  color: var(--color-white);
  font-size: 16px;
}

.portfolio .container .footer .rightSide input.border-valid {
  border-bottom: 2px solid var(--color-green-primary);
}

.portfolio .container .footer .rightSide input.border-invalid {
  border-bottom: 2px solid red;
}

.portfolio .container .footer .rightSide input.border-invalid:hover,
.portfolio .container .footer .rightSide input.border-invalid:focus {
  border-bottom: 2px solid red;
}

.portfolio .container .footer .rightSide .email {
  position: relative;
}

.portfolio .container .footer .rightSide .invalidImg {
  position: absolute;
  right: 10px;
  top: -190%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.portfolio .container .footer .rightSide .alert {
  padding: 0px;
  border: none;
  margin: 0px;
  color: red;
  text-align: right;
}

.portfolio .container .footer .rightSide input:hover,
.portfolio .container .footer .rightSide input:focus {
  border-bottom: 2px solid var(--color-green-primary);
}

.portfolio .container .footer .btn {
  text-decoration: none;
  color: var(--color-white);
  font-size: 16px;
  line-height: var(--body-line);
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-color: var(--color-green-primary);
  text-underline-offset: 10px;
  background: transparent;
  border: none;
  padding: 0;
  padding-top: 50px;
  width: 8rem;
}

.portfolio .container .footer .btn:hover {
  cursor: pointer;
  color: var(--color-green-primary);
}

.portfolio .container .hr1 {
  border: 0;
  height: 2px;
  background-color: var(--color-white);
  margin-top: 130px;
  margin-bottom: 40px;
}

.portfolio .container .down p {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio .container .down .socialIcon {
  position: relative;
}

.portfolio .container .down .socialIcon img:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(25%) saturate(5196%) hue-rotate(73deg)
    brightness(95%) contrast(85%);
}

.portfolio .container .down .socialIcon img {
  width: 24px;
  height: 24px;
}

/* end footer */

@media (max-width: 500px) {
  /* top */

  .portfolio .container .top {
    display: block !important;
  }

  .portfolio .container .top p {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .portfolio .container .top .socialIcons {
    display: flex !important;
    justify-content: center !important;
    margin-top: 20px;
    gap: 2rem !important;
  }

  /* end top */

  /* content */

  .portfolio .container .content .rings {
    left: -360px;
  }

  .portfolio .container .content .personalImage {
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 30rem;
    top: -100px;
    right: 0;
    z-index: -1;
  }

  .portfolio .container .content .circle {
    position: absolute;
    width: 129px;
    height: 129px;
    left: 370px;
    top: 250px;
  }

  .portfolio .container .content h1 {
    padding-top: 30rem;
    font-size: 40px;
    line-height: var(--heading-l-line);
    letter-spacing: var(--heading-l-spacing);
    font-weight: bold;
    justify-content: center;
    text-align: center;
  }

  .portfolio .container .content p {
    font-size: 16px;
    justify-content: center;
    text-align: center;
  }

  .portfolio .container .content .btn {
    display: block;
  }

  /* end content */

  /* hr */
  .portfolio .container .hr {
    margin-top: 100px;
    margin-bottom: 40px;
  }

  /* expertise */

  .portfolio .container .expertise .container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .portfolio .container .expertise .container .row .col {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0px !important;
    text-align: center !important;
  }

  .portfolio .container .expertise .container .row .p {
    font-size: 16px;
  }

  .portfolio .container .expertise .rings {
    bottom: 0;
  }

  /* end expertise */

  /* project */

  .portfolio .container .projects h2 {
    font-size: var(--heading-l-size);
    line-height: var(--heading-l-line);
    letter-spacing: var(--heading-l-spacing);
    font-weight: var(--heading-l-weight);
  }

  .portfolio .container .projects .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  .portfolio .container .projects .grid .imageWrapper .overlay {
    display: none;
  }

  .portfolio .container .projects .grid .imageWrapper .imgFluid {
    width: 22rem;
    height: 16rem;
  }

  .portfolio .container .projects .grid .imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio .container .projects .grid .imageWrapper .overlay {
    position: static;
    opacity: 1;
    background: transparent;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 12px;
    pointer-events: auto;
  }

  .portfolio .projectName,
  .portfolio .tools {
    text-align: center !important;
  }

  /* end project */

  /* footer */

  .portfolio .container .footer::before {
    top: 500px;
  }

  .portfolio .container .footer .leftSide h3 {
    font-size: 40px;
    line-height: var(--heading-l-line);
    letter-spacing: var(--heading-l-spacing);
    font-weight: bold;
    text-align: center;
  }

  .portfolio .container .footer .leftSide p {
    font-size: 16px;
    text-align: center;
  }

  .portfolio .container .footer .rightSide label {
    font-size: 16px;
    width: 90%;
    margin: auto;
  }

  .portfolio .container .footer .rightSide input {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
  }

  .portfolio .container .footer .rightSide .alert {
    right: 20px;
  }

  .portfolio .container .footer .btn {
    width: 8rem;
  }

  .portfolio .container .hr1 {
    width: 90%;
    margin: 130px auto 40px;
  }

  .portfolio .container .down {
    display: block !important;
  }

  .portfolio .container .down p {
     display: flex;
    justify-content: center;
    text-align: center;
  }

  .portfolio .container .down .socialIcon {
    display: flex !important;
    justify-content: center !important;
    margin-top: 20px;
    gap: 2rem !important;
  }

  /* end footer */
}
